@charset "utf-8";
ul {
	list-style-type: none;
}
.zi1 {
	color: rgba(0,0,0,1.00);
	font-size: 43px;
	font-weight: bold;
	float: left;
	width: 176px;
	position: relative;
	left: 184px;
}
.zi2 {
	color: rgba(0,0,0,1.00);
	font-size: 43px;
	font-weight: bold;
	float: left;
	width: 176px;
	position: relative;
	left: 612px;
}
.tu1 {
	background-image: url(../images/ping-pong_new.JPG);
	width: 420px;
	height: 562px;
	position: relative;
	top: 98px;
	left: 79px;
}
.tu2 {
	background-image: url(../images/piano.jpg);
	width: 420px;
	height: 291px;
	position: relative;
	left: 675px;
	bottom: 385px;
}
.zi3 {
	color: rgba(39,160,215,1.00);
	font-size: 20px;
	position: relative;
	bottom: 175px;
	left: 67px;
	width: 504px;
	background-color: rgba(158,233,234,1.00);
}
.zi4 {
	color: rgba(39,160,215,1.00);
	font-size: 20px;
	position: relative;
	bottom: 328px;
	left: 641px;
	width: 504px;
	background-color: rgba(158,233,234,1.00);
}
.tu3 {
	background-image: url(../images/blue_and_cloud.jpg);
}
.zi5 {
	font-size: 25px;
	position: relative;
	left: 703px;
}
ul li a {
	text-decoration: none;
}
ul li a:link {
	color: rgba(243,160,41,1.00)
}
ul li a:hover {
	color: rgba(57,226,79,1.00);
}
ul li a:visited {
	color: rgba(243,160,41,1.00);
}
