@charset "utf-8";
.zi1 {
	font-weight: bold;
	font-size: 53px;
	font-family: "黑体";
	color: rgba(17,133,222,1.00);
	background-color: rgba(112,223,235,1.00);
}
.zi2 {
	font-weight: bold;
	font-size: 20px;
	background-color: rgba(229,219,102,1.00);
	position: relative;
	left: 1063px;
	width: 102px;
	bottom: 59px;
}
.zi3 {
	font-size: 37px;
	text-align: center;
	color: rgba(28,162,207,1.00);
	position: relative;
	bottom: 13px;
	right: 33px;
	z-index: 10;
}
.tu1 img {
	width: 381px;
	height: 304px;
	position: relative;
	right: 33px;
}
.zi4 {
	color: rgba(117,221,139,1.00);
	font-size: 27px;
	position: relative;
	left: 106px;
	font-family: "幼圆";
}
.tu2 img {
	width: 381px;
	height: 304px;
	position: relative;
	left: 402px;
	bottom: 342px;
}
.zi5 {
	color: rgba(117,221,139,1.00);
	font-size: 27px;
	position: relative;
	left: 555px;
	bottom: 340px;
	font-family: "幼圆";
}
.tu3 img {
	width: 381px;
	height: 304px;
	position: relative;
	left: 830px;
	bottom: 683px;
}
.zi6 {
	color: rgba(117,221,139,1.00);
	font-size: 27px;
	position: relative;
	left: 982px;
	bottom: 683px;
	font-family: "幼圆";
}
.zi7 {
	font-size: 37px;
	text-align: center;
	color: rgba(28,162,207,1.00);
	position: relative;
	bottom: 676px;
	right: 22px;
	font-family: "黑体";
}
.tu4 img {
	width: 471px;
	height: 294px;
	position: relative;
	bottom: 658px;
	right: 41px;
}
.zi8 {
	color: rgba(117,221,139,1.00);
	font-size: 27px;
	position: relative;
	bottom: 652px;
	left: 143px;
	font-family: "幼圆";
}
.tu5 img {
	width: 471px;
	height: 294px;
	position: relative;
	bottom: 991px;
	left: 449px;
}
.zi9 {
	color: rgba(117,221,139,1.00);
	font-size: 27px;
	position: relative;
	bottom: 988px;
	left: 634px;
	font-family: "幼圆";
}
.zi10 {
	color: rgba(117,221,139,1.00);
	font-size: 69px;
	position: relative;
	left: 1022px;
	bottom: 1216px;
}
.tiaozheng1 {
	width: 1402px;
	height: 0px;
	overflow-x: hidden;
}
.tioazheng2 {
	height: 835px;
	overflow-y: hidden;
	width: 1400px;
	overflow-x: hidden;
}
ul {
	list-style-type: none;
}
ul li a {
	text-decoration: none;
}
ul li a:link {
	color: rgba(243,160,41,1.00)
}
ul li a:hover {
	color: rgba(57,226,79,1.00);
}
ul li a:visited {
	color: rgba(243,160,41,1.00);
}
