/*header*/
.style_1 {
	color: #2171C6;
	font-size: 69px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.style_2 {
	color: #0971BB;
	font-size: 26px;
	float: right;
	font-weight: bold;
	text-align: right;
	width: 196px;
	position: relative;
	bottom: 53px;
}
.tu1 {
	background-image: url(../images/blue.jpg);
	height: 118px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/*section*/
.style_3 {
	font-size: 63px;
	color: #3184B9;
	text-align: center;
	background-color: #88D4E0;
	font-family: "黑体";
}
.style_4 {
	font-size: 54px;
	font-family: "仿宋";
	color: #1FBBAD;
	font-weight: bold;
}
li {
	list-style-type: none;
}
.style_5 {
	background-color: #99E3BC;
	margin-top: 0px;
	font-size: 22px;
}
.mk1_p1 img {
	position: relative;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	z-index: 1;
}
.mk1_zi1 {
	color: rgba(208,233,100,1.00);
	background-color: rgba(55,179,205,0.7);
	text-align: left;
	font-weight: bold;
	position: absolute;
	top: 429px;
	left: 210px;
	z-index: 2;
	font-size: 25px;
}
.mk1_p2 img {
	position: relative;
	padding-left: 660px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	z-index: 1;
	float: left;
	bottom: 306px;
	width: 488px;
}
.mk1_zi2 {
	color: rgba(208,233,100,1.00);
	background-color: rgba(55,179,205,0.7);
	text-align: left;
	font-weight: bold;
	position: absolute;
	top: 428px;
	left: 721px;
	z-index: 2;
	font-size: 25px;
}
.mk1_p3 img {
	position: relative;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	z-index: 1;
	bottom: 163px;
	float: left;
	width: 522px;
}
.mk1_zi3 {
	color: rgba(208,233,100,1.00);
	background-color: rgba(55,179,205,0.7);
	text-align: left;
	font-weight: bold;
	position: absolute;
	top: 891px;
	left: 271px;
	z-index: 2;
	font-size: 25px;
}
.mk1_p4 img {
	position: relative;
	/* [disabled]padding-left: 186px; */
	/* [disabled]padding-top: 84px; */
	/* [disabled]padding-bottom: 2px; */
	/* [disabled]padding-right: 6px; */
	z-index: 1;
	bottom: 152px;
	float: left;
	width: 584px;
	left: 55px;
}
.mk1_zi4 {
	color: rgba(208,233,100,1.00);
	background-color: rgba(55,179,205,0.7);
	text-align: left;
	font-weight: bold;
	position: absolute;
	top: 899px;
	left: 786px;
	z-index: 2;
	font-size: 25px;
}
.tu2{
	background-image: url(../images/girl_sky.JPG);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 1022px;
}
ul li a {
	text-decoration: none;
}
ul li a:hover {
	color: rgba(221,164,57,1.00);
}
ul li a:visited {
	color: rgba(208,233,100,1.00);
}
