@charset "utf-8";
.zi1 {
	font-weight: bold;
	font-size: 53px;
	font-family: "黑体";
	color: rgba(17,133,222,1.00);
	background-color: rgba(112,223,235,1.00);
}
.tu1 {
	background-image: url(../images/run.jpg);
	width: 414px;
	height: 300px;
}
.zi2 {
	font-size: 20px;
	color: rgba(20,144,34,1.00);
	background-color: rgba(154,205,196,1.00);
	width: 418px;
}
.tu2 {
	background-image: url(../images/study_new.JPG);
	width: 490px;
	height: 431px;
	position: relative;
	left: 410px;
	bottom: 430px;
}
.zi3 {
	font-size: 20px;
	color: rgba(20,144,34,1.00);
	background-color: rgba(154,205,196,1.00);
	width: 305px;
	position: relative;
	left: 928px;
	bottom: 859px;
	height: 419px;
}
.tu3 {
	background-image: url(../images/lol_new.JPG);
	width: 452px;
	height: 452px;
	position: relative;
	bottom: 781px;
}
.tu4 {
	background-image: url(../images/arknights_new.jpg);
	width: 591px;
	height: 345px;
	position: relative;
	bottom: 1241px;
	left: 500px;
}
.zi4 {
	font-size: 30px;
	color: rgba(20,144,34,1.00);
	background-color: rgba(154,205,196,1.00);
	position: relative;
	bottom: 1630px;
}
ul {
	list-style-type: none;
}
ul li a {
	text-decoration: none;
}
ul li a:link {
	color: rgba(243,160,41,1.00)
}
ul li a:hover {
	color: rgba(57,226,79,1.00);
}
ul li a:visited {
	color: rgba(243,160,41,1.00);
}
.zi5 {
	font-weight: bold;
	font-size: 20px;
	position: relative;
	bottom: 59px;
	left: 1053px;
	background-color: rgba(229,219,102,1.00);
	width: 100px;
}
.tiaozheng {
	height: 990px;
}
